<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  </div>

    <!--Todo Table-->
    <div class="container table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th class="LPName">Name</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.LPName}}</td>

                <!-- {% if item.status == "In Progress" %}
                    <td><button type="button" class="btn btn-outline-warning btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%}
                {% if item.status == "Todo" %}
                    <td><button type="button" class="btn btn-outline-secondary btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%}
                {% if item.status == "Complete" %}
                    <td><button type="button" class="btn btn-outline-success btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%} -->
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
</head>
<body>

</body>
</html>